/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #444;
  line-height: 1.6; /* Espaciado entre líneas aumentado para una mejor legibilidad */
}

/* Estilos del encabezado */
header {
  background-color: #1c7e08;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px; /* Tamaño de fuente del encabezado aumentado */
}

/* Estilos del contenido principal */
main {
  padding: 20px;
}

/* Estilos de las secciones */
section {
  margin-bottom: 20px;
  border: 2px solid #27ae60;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
}

section h2 {
  font-size: 24px; /* Tamaño de fuente del título de sección aumentado */
  margin-bottom: 15px; /* Espacio extra después del título */
}

section p {
  font-size: 16px; /* Tamaño de fuente del párrafo aumentado */
  line-height: 1.8; /* Espaciado entre líneas aumentado para una mejor legibilidad */
}

section h2 a {
  color: #27ae60;
  text-decoration: none;
}

section h2 a:hover {
  text-decoration: underline;
}

/* Estilos del pie de página */
footer {
  background-color: #1c7e08;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Estilos de los botones */
.button {
  display: inline-block;
  padding: 12px 24px; /* Aumenté el espacio alrededor del botón */
  background-color: #27ae60;
  color: #fff;
  text-decoration: none;
  border: none; /* Quité el borde del botón */
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Cambié el cursor al pasar el mouse */
}

.button:hover {
  background-color: #219653;
}
